body{
	font-family: sans-serif;
	background: linear-gradient( darkred 25%, black );
}
img{
	width: 360px;
	height: 430px;
}
.page,h1,h2,h3,h6{
	text-align: center;
	color: white;
}


.navdar li a{
	color: white;
	text-decoration: none;
	display: block;
	width: 15%;
	padding: 
}


.navdar li a:hover {
	background: black;
}
p{
	color: white;
}